.footer-link {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0d6efd;
}

.social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #fff;
}

body {
    background-color: #88aadd;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 250px; 
  padding: 20px;
  flex-wrap: wrap; 
  font-family: sans-serif;
}


.card {
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}


.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.card-content p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.sor {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(241, 251, 255);
}

.sor img {
  width: 500px;
  height: auto;
}


.reviews-section {
    padding: 80px 20px;
    background-color: #88aadd;
    text-align: center;
}

.reviews-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.reviews-rating {
    color: #666;
    margin-bottom: 40px;
}

.reviews-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}



.review-card {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    text-align: left;
    transition: 0.3s;
}

.review-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.review-card p {
    margin: 15px 0;
    line-height: 1.6;
}

.review-card h4 {
    margin: 10px 0 0;
}

.review-card span {
    color: #777;
    font-size: 14px;
}

.stars {
    font-size: 18px;
}

























